<h2>Frage:</h2>
<p id="question">

</p>

<p id="countdown"><%= @game.created_at - Time.now + 10 %></p>

<div id="textfield">
  <%= simple_form_for([@room, @game, @madeup_answer], remote: true) do |f| %>
    <%= f.input :content, as: :text, label: "Deine Antwort:" %>
    <%= f.hidden_field :round_count, value: 0, id:"round_count" %>
  <% end %>
</div>

<div id="answers">

</div>

<% content_for :after_js do %>
<script>
  const question = document.getElementById('question')
  const answers = document.getElementById('answers')
  var roundCount = document.getElementById('round_count')

    question.innerHTML = '<%= @round_set[' + roundCount.value + '.to_i].question.content %>';

    /*roundCount.value = parseInt(roundCount.value) + 1*/

    var countdown = parseInt(document.getElementById('countdown').innerText);


  App['game_<%= @game.id %>'] = App.cable.subscriptions.create(
    { channel: 'GamesChannel', game_id: <%= @game.id %> },
    { received: (data) => {
      console.log(data)
    }
  })

  var counter = setInterval(function() {
    countdown--;
    document.getElementById('countdown').innerText = countdown;
    if (countdown === 0) {
      clearInterval(counter);
      Rails.fire(document.getElementById('new_madeup_answer'), 'submit');}
  }, 1000);



</script>
<% end %>
