<h1>Willkommen, <%= @name %>!</h1>

<h2>Trete einem Raum bei oder erstelle deinen eigenen Raum</h2>

<h3>Du befindest dich in der Lobby.</h3>

<% @rooms[1..-1].each do |room| %>
  <p> <%= link_to room_path(room) do %>
      <%= room.name %> | <span id="room <%= room.id %>"><%= User.where(room: room).count %></span>/<%= room.capacity %>
      <% end %>
  </p>
<% end %>

<%= link_to "Neuen Raum erstellen", new_room_path %>


<% content_for :after_js do %>
  <script>
    App['room_1 %>'] = App.cable.subscriptions.create(
      { channel: 'RoomsChannel', room_id: 1 },
      { received: (data) => {
        const roomcount = document.getElementById(data['from']);
        const newcount = parseInt(roomcount.innerText) - 1;
        roomcount.innerText = newcount
      }
    })
  </script>
<% end %>
